{% extends 'base.html' %}
{% load static %}

{% block title %}Order Details{% endblock %}

{% block content %}

<div class="container py-5">

<div class="row">

<div class="col-lg-8">

<div class="card shadow border-0 rounded-4 mb-4">

<div class="card-body">

<h3>Order #{{ order.order_number }}</h3>

<hr>

<p><strong>Date:</strong> {{ order.created_at|date:"d M Y h:i A" }}</p>

<p><strong>Payment:</strong> {{ payment.get_status_display }}</p>

<p><strong>Order Status:</strong> {{ order.get_status_display }}</p>

<p><strong>Total:</strong> Rs {{ order.order_total }}</p>

<p><strong>Total:</strong> Rs {{ order.order_total }}</p>

<div class="mt-4">
    <a href="{% url 'invoice' order.order_number %}"
       class="btn btn-primary">
        <i class="fas fa-file-download"></i>
        Download Invoice
    </a>
</div>

</div>

</div>

<div class="card shadow border-0 rounded-4">

<div class="card-header">

<h4>Ordered Products</h4>

</div>

<div class="card-body">

{% for item in ordered_products %}

<div class="row mb-4">

<div class="col-md-2">

<img src="{{ item.product.images.url }}"
     class="img-fluid rounded">

</div>

<div class="col-md-10">

<h5>{{ item.product.product_name }}</h5>

<p>Quantity : {{ item.quantity }}</p>

<p>Price : Rs {{ item.product_price }}</p>

{% for variation in item.variations.all %}
<p>
{{ variation.variation_category|title }} :
{{ variation.variation_value }}
</p>
{% endfor %}

</div>

</div>

<hr>

{% endfor %}

</div>

</div>

</div>

<div class="col-lg-4">

<div class="card shadow border-0 rounded-4">

<div class="card-header">

<h4>Billing Address</h4>

</div>

<div class="card-body">

<p>{{ order.full_name }}</p>

<p>{{ order.address_line_1 }}</p>

{% if order.address_line_2 %}
<p>{{ order.address_line_2 }}</p>
{% endif %}

<p>{{ order.city }}</p>

<p>{{ order.state }}</p>

<p>{{ order.country }}</p>

<p>{{ order.phone }}</p>

<p>{{ order.email }}</p>

</div>

</div>

</div>

</div>

</div>

{% endblock %}